.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    /* Khoảng cách giữa các bảng */
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 30%;
    /* Điều chỉnh chiều rộng của bảng */
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 8px;
    text-align: center;
}

.table th,
.table td {
    text-align: center;
    /* Căn giữa nội dung trong cột */
    vertical-align: middle;
    /* Căn giữa theo chiều dọc */
}

.table th {
    width: 16.6%;
    /* Chia đều các cột */
}

.table td {
    width: 16.6%;
    /* Chia đều các cột */
}